
.blog-cards .text-blog{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.blog-cards a {
    display: block;
    border-radius: 20px;
    overflow: hidden;
}

@media screen and (max-width: 767px) {
    /* En dispositivos móviles, mostrar solo la primera tarjeta */
    .blog-cards a:not(:first-child) {
        display: none;
    }
}

