

.block-purpose-us .mySlides{
  display: none;
}

 .block-purpose-us .mySlides img {
  width: 100%; /* Establece el ancho de la imagen al 100% del contenedor */
  height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
  object-fit: cover; /* Ajusta la imagen dentro del contenedor manteniendo su relación de aspecto */
}
.block-purpose-us .prev, .next {
  top: 50%;
}

 .block-purpose-us .prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
